@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');


	@font-face {
		font-family: HelveticaNeueLight;
		src: url(../fonts/HelveticaNeue/HelveticaNeue-Light.ttf);
		src: url(../fonts/HelveticaNeue/HelveticaNeue-Light.woff2);
		src: url(../fonts/HelveticaNeue/HelveticaNeue-Light.otf);
	}

	@font-face {
		font-family: HelveticaNeueLightItalic;
		src: url(../fonts/HelveticaNeue/HelveticaNeue-LightItalic.ttf);
		src: url(../fonts/HelveticaNeue/HelveticaNeue-LightItalic.woff2);
		src: url(../fonts/HelveticaNeue/HelveticaNeue-LightItalic.otf);
	}

	@font-face {
		font-family: HelveticaNeue;
		src: url(../fonts/HelveticaNeue/HelveticaNeue.ttf);
		src: url(../fonts/HelveticaNeue/HelveticaNeue.woff2);
		src: url(../fonts/HelveticaNeue/HelveticaNeue.otf);
	}

	@font-face {
		font-family: HelveticaNeueBold;
		src: url(../fonts/HelveticaNeue/HelveticaNeue-Bold.ttf);
		src: url(../fonts/HelveticaNeue/HelveticaNeue-Bold.woff2);
		src: url(../fonts/HelveticaNeue/HelveticaNeue-Bold.otf);
	}

	@font-face {
		font-family: HelveticaNeueItalic;
		src: url(../fonts/HelveticaNeue/HelveticaNeue-Italic.ttf);
		src: url(../fonts/HelveticaNeue/HelveticaNeue-Italic.woff2);
		src: url(../fonts/HelveticaNeue/HelveticaNeue-Italic.otf);
	}

	@font-face {
		font-family: HelveticaNeueBoldItalic;
		src: url(../fonts/HelveticaNeue/HelveticaNeue-BoldItalic.ttf);
		src: url(../fonts/HelveticaNeue/HelveticaNeue-BoldItalic.woff2);
		src: url(../fonts/HelveticaNeue/HelveticaNeue-BoldItalic.otf);
	}


	@font-face {
		font-family: HelveticaNeueMedium;
		src: url(../fonts/HelveticaNeue/HelveticaNeue-Medium.ttf);
		src: url(../fonts/HelveticaNeue/HelveticaNeue-Medium.woff2);
		src: url(../fonts/HelveticaNeue/HelveticaNeue-Medium.otf);
	}

	@font-face {
		font-family: HelveticaNeueCondensed;
		src: url(../fonts/HelveticaNeue/HelveticaNeue-Condensed.ttf);
		src: url(../fonts/HelveticaNeue/HelveticaNeue-Condensed.woff2);
		src: url(../fonts/HelveticaNeue/HelveticaNeue-Condensed.otf);
	}


	@font-face {
		font-family: HelveticaNeueCondensedBold;
		src: url(../fonts/HelveticaNeue/HelveticaNeue-CondensedBold.otf);
	}


* { margin: 0; padding: 0; font-family: 'HelveticaNeue', Helvetica,Arial,sans-serif, sans-serif }
html, body { height: 100% }

h1, h2, h3, h4, h5, h6 { font-family: 'HelveticaNeue', Helvetica,Arial,sans-serif, sans-serif; font-weight: 300 }
p, li { padding: 0; margin-bottom: 12px; font-family: 'HelveticaNeue', Helvetica,Arial,sans-serif, sans-serif; font-weight: 300 }

.no-top-margin { margin-top: 0 !important }


.navbar.navbar-main .navbar-nav li a { color:#2980b9; font-family:'HelveticaNeue',Arial, sans-serif;color:#00B7EB; }



/* =Common Styles
-------------------------------------------------------------- */
body {
	background:#fff;
	font:normal 14px 'Open Sans', sans-serif;
	font-weight:300;
	color:#616161;
	height:100%;
	line-height:1.6;
	min-height:100% !important;
}

html {
	min-height:100% !important;
}

.close {
	opacity:.4;
}

/* =Top Bar
-------------------------------------------------------------- */
.top-bar {
	background:#e4eef2; position:relative;
	font-size:12px;
	padding-top:12px;padding-bottom:2px;
}

.top-bar .col-md-8 p { margin:0;padding:0;line-height:100%;padding-top:2px;padding-bottom:10px  }

.top-bar .col-md-8 p { font-size:15px;}

ul.topbar-list { margin:-4px 0 0 0;float:left }
ul.topbar-list li { padding:0 14px; margin-bottom:0 }

.topbar-list li a {
	-webkit-transition:color 0.8s ease;
	-moz-transition:color 0.8s ease;
	-o-transition:color 0.8s ease;
	transition:color 0.8s ease;margin-right:4px
}

.topbar-list li a i { font-size:14px; border-radius:50%;border: solid 1px #2980b9 }

.topbar-list li a i.fa-twitter { color:#2980b9;border: solid 1px #2980b9;padding:4px 16px 4px 6px }
.topbar-list li a i.fa-linkedin { color:#2980b9;border: solid 1px #2980b9;padding:4px 16px 4px 6px }
.topbar-list li a i.fa-facebook { color:#2980b9;border: solid 1px #2980b9;padding:4px 16px 4px 8px }

.topbar-list li a:hover { color:#00B7EB }


.topbar-list li a { color: #fff;font-size:16px;width:32px;padding:0 }

.top-bar .col-md-4 a.btn-primary { border-radius:0 }


/* =Navigation
-------------------------------------------------------------- */
.navbar {
	border-radius:0;
	border:0;
	font-size:16px;
	font-weight:400;
	margin:0;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.1), inset 0 0 2px rgba(255,255,255,.21);
    -moz-box-shadow:0 1px 2px rgba(0,0,0,.1), inset 0 0 2px rgba(255,255,255,.21);
    box-shadow:0 1px 2px rgba(0,0,0,.1), inset 0 0 2px rgba(255,255,255,.21);
	z-index:9;
}

.navbar.navbar-main {
	background-color:rgba(255, 255, 255, 0.97);
}

.navbar-brand {
	height:74px;
	padding:25px 0 15px 15px;
	letter-spacing:0;
	font-weight:900;
	color:#00B7EB;
	text-transform:uppercase;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	-ms-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    text-align: center;
}

.navbar.navbar-main>.container .navbar-brand-centered, .navbar.navbar-main>.container-fluid .navbar-brand-centered {
    margin-left: -100px;
}

.css-logo { float:left; margin-right:8px; height:19px; width:19px; border-radius:19px; background-color:#00B7EB;margin-top:5px; }


.navbar-brand:hover {
	opacity:0.7;
}

.navbar-toggle .icon-bar { background-color:#8F8F8F; height:1px }

.navbar-toggle:hover .icon-bar { background-color:#fff }

.navbar-toggle {
	border:1px solid #2980b9;
	border-radius:2px;
	margin-top:25px;
}

.navbar-toggle:hover {
	border:1px solid #00B7EB;
	background-color:#00B7EB;
	-webkit-transition:color 0.3s ease;
	-moz-transition:color 0.3s ease;
	-o-transition:color 0.3s ease;
	transition:color 0.3s ease;
}

.navbar.navbar-main ul.nav a {
	color:#8F8F8F;
	background:transparent;
}

.navbar.navbar-main ul.nav li:hover > a {
	color:#006699;
	background-color:transparent;
	-webkit-transition:color 0.1s ease;
	-moz-transition:color 0.1s ease;
	-o-transition:color 0.1s ease;
	transition:color 0.1s ease;
}

.navbar.navbar-main .nav li.active a {
    color:#fff;
	background-color:#00B7EB;
}

.navbar.navbar-main .navbar-nav li a {
    padding-top:30px;
    padding-bottom:30px;
}

.navbar.navbar-main .dropdown-menu > li > a {
    line-height:2.66 !important;
    border-bottom:1px solid #f0f0f0;
    padding:2px 20px 2px 14px;
}

.dropdown-arrow {
	font-size:10px;
	padding-left:7px;
	color:#ccc;
}

.navbar.navbar-main .navbar-nav .open .dropdown-menu>li>a,.navbar .navbar-nav .open .dropdown-menu {
	color:#8F8F8F;
	outline:none;
	z-index:5;
}

.dropdown-form {
	min-width:250px;
}

.navbar.navbar-main .btn-primary { margin-top:-1px; }


.search-input { height:2.41em !important }
.search-btn { padding:6px 12px; }
.nav-circle-li {
    margin-top:17px;
    border-radius:50%;
    width:44px;
    height:44px;
    background-color:#F7F7F7 !important;
    box-shadow:0px 2px 0px 0px rgba(0,0,0,0.1);
    line-height:45px !important;
    padding:0 14px !important;
}
.nav-circle-li:hover {
    background-color:#00B7EB !important;
    color:#fff !important;
}


.badge { background-color: darkred }

.nav-stacked { display:block !important; }

#fixed-navbar.affix {
    position:fixed;
    top:0;
    width:100%
}

.navbar-wrapper {
    height:auto;
    width:100%;
    margin:0;
}




/* =Modals
-------------------------------------------------------------- */
.modal-content {
	border-radius:2px;
	box-shadow:0px 2px 8px rgba(0, 0, 0, 0.2);
	border:0;
}

.modal-content .form-control {
	border-radius:0
}

.modal-header {
	/* background-color:#00B7EB; */
}

.modal-title {
	color:#fff;
	text-transform:uppercase;
	font-weight:700;
	font-size:16px
}

.modal .close {
	color:#fff;
}

.modal .close:hover {
	opacity:0.9;
}


.modal-footer { background:#e4eef2 }

.modal-footer .btn { border-radius: 0;padding: 4px 24px;font-size:14px }
.modal-footer .btn .ion-android-arrow-forward { font-size:18px }



/* =404 + Map
-------------------------------------------------------------- */
.error-404 {
	font-size:200px;
	line-height:1.3;
}



/* =Media Queries
-------------------------------------------------------------- */

/* Phones and down */
@media (max-width:480px) {
}

/* Landscape phones and portrait tablets */
@media (max-width:767px) {
	.top-bar .col-md-8 p { font-size:13px;}
	.top-bar ul.topbar-list { margin:-4px 0 0 -24px;padding:0}
	.top-bar ul.topbar-list li { margin:0;padding:0 }
	.top-bar .col-md-4 a.btn-primary { margin:-4px 0 6px 4px;padding:2px 8px 4px 8px; font-size:13px }

	.navbar-brand { height:68px}
	.navbar-brand > img { max-width: 140px;margin:4px 0 0 -16px }
	.navbar-toggle { margin: 15px 0 0 0 }
	.navbar .navbar-nav li a { line-height:3.4; }
	.navbar-collapse { -webkit-box-shadow:0px 3px 0px 0px rgba(0,0,0,0.08); -moz-box-shadow:0px 3px 0px 0px rgba(0,0,0,0.08); box-shadow:0px 3px 0px 0px rgba(0,0,0,0.08); }
	.navbar.navbar-main .navbar-nav li a { padding-top:5px; padding-bottom:5px; line-height:26px; }
	.navbar.navbar-main .dropdown-menu { border-top:1px solid #f0f0f0; border-bottom:0; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; margin-bottom:5px !important; }
	.navbar.navbar-main .dropdown-menu > li > a { padding:5px 20px 5px 23px; }
	.navbar-header {height:36px; }
	/*  .navbar-dark .navbar-header { border-bottom:1px solid #323232; } */
	#fixed-navbar.affix { position:static; }
	.navbar-wrapper { height:100%; }
	.navbar-brand-centered { left:0; }
	.navbar.navbar-main>.container .navbar-brand-centered, .navbar>.container-fluid .navbar-brand-centered { margin-left:0; }
}

@media (min-width:768px) and (max-width:991px) {
	.navbar-brand > img { max-width: 140px }
	.top-bar .col-md-8 p { font-size:14px }
	.top-bar .col-md-4 a.btn-primary { margin:-4px 0 6px 4px;padding:2px 8px 4px 8px; font-size:13px }

	.nav>li>a { padding:10px 12px; }
	.navbar.navbar-main>.container .navbar-brand-centered, .navbar>.container-fluid .navbar-brand-centered { margin-left:-52px; }
	.navbar { height:64px}

	.navbar.navbar-main .navbar-nav li a { padding-top: 22px }

}

@media (min-width:992px) {
	.top-bar { padding-top:14px;padding-bottom:4px }
	.top-bar .col-md-4 a.btn-primary { margin:-4px 0 6px 4px;padding:2px 12px 4px 12px; font-size:13px }
	.navbar { height:80px}
}



@-ms-viewport{ width:auto !important; }

.navbar.navbar-main .navbar-nav li a { color: rgb(0, 159, 218); font-family:'HelveticaNeue',Arial, sans-serif }






/* ======================= BLOCK PAGE MENU ====================================*/

.navbar {
    border: 1px solid transparent;
    margin-bottom: 0px;
    min-height: 0px;
    position: relative;
}

#nav.affix { position: fixed; top: 0; width: 100%; z-index:10 }

.block-fixed-menu .navbar .navbar-nav {
	display: inline-block; margin-top:0; margin-bottom:0;
	float: none;padding-top:0;padding-bottom:0;height:auto;min-height:0
}

.block-fixed-menu .navbar .navbar-collapse {
	text-align: center;padding-top:0;padding-bottom:0;height:auto; margin-top:0; margin-bottom:0;min-height:0
}


.block-fixed-menu  { text-align:center;width:100%;background: rgb(251, 237, 170) }
.block-fixed-menu .navbar { height: auto; text-align:center; margin:0 auto }
.block-fixed-menu { margin: 0 auto; text-align:center;background: rgb(251, 237, 170);padding-top:0; padding-bottom:0 }
.block-fixed-menu ul.menu-page {
	text-align:center; margin: 0 auto;list-style-type: none; padding-top:0; padding-bottom:0 }
.block-fixed-menu  ul.menu-page li { margin:0 auto; padding:0; text-align:center;  list-style-type: none; color:red; display: inline-block  }
.block-fixed-menu  ul.menu-page li a {
	font-family: 'HelveticaNeue',Arial,sans-serif; text-decoration: none;
	display: inline-block; color:#2c3e50; line-height:100%;}

.block-fixed-menu  ul.menu-page li a:link,
.block-fixed-menu  ul.menu-page li a:visited { background: rgb(251, 237, 170) }
.block-fixed-menu  ul.menu-page li a:hover,
.block-fixed-menu  ul.menu-page li a:active { background: rgb(243,208,86)  }
.block-fixed-menu  ul.menu-page li.active a { background: rgb(243,208,86) }

/*--- Mobile portrait ---*/
@media all and (max-width: 767px) { .block-fixed-menu  { display: none } }

@media all and (min-width: 768px) and (max-width: 991px) {
	.block-fixed-menu ul.nav,
	.block-fixed-menu ul.navbar-nav,
	.block-fixed-menu ul.menu-page { margin-bottom:-8px !important}
	.block-fixed-menu ul.menu-page li a { font-size:14px; margin:0 8px 0 0; padding:12px 8px; line-height:100% }
}

/* Less small desktops and laptops (lg) ----------- */
@media only screen and (min-width : 992px) and (max-width: 1024px) {
	.block-fixed-menu ul.nav,
	.block-fixed-menu ul.navbar-nav,
	.block-fixed-menu ul.menu-page { margin-bottom:-8px !important}
	.block-fixed-menu ul.menu-page li a { font-size:16px; margin:0 8px 0 0; padding:16px 8px; line-height:100% }
}

@media only screen and (min-width : 1025px) and (max-width: 1223px) {
	.block-fixed-menu ul.nav,
	.block-fixed-menu ul.navbar-nav,
	.block-fixed-menu ul.menu-page { margin-bottom:-8px !important}
	.block-fixed-menu ul.menu-page li a { font-size:16px; margin:0 8px 0 0; padding:16px 8px; line-height:100% }
}

@media only screen and (min-width: 1224px) and (max-width: 1336px) {
	.block-fixed-menu ul.nav,
	.block-fixed-menu ul.navbar-nav,
	.block-fixed-menu ul.menu-page { margin-bottom:-8px !important}
	.block-fixed-menu ul.menu-page li a { font-size:18px; margin:0 8px 0 0; padding:12px 18px 12px 18px; line-height:100% }
}

/* Popular desktops and laptops ----------- */
@media only screen and (min-width: 1337px) and (max-width: 1440px) {
	.block-fixed-menu ul.nav,
	.block-fixed-menu ul.navbar-nav,
	.block-fixed-menu ul.menu-page { margin-bottom:-8px !important}
	.block-fixed-menu ul.menu-page li a { font-size:20px; margin:0 12px 0 0; padding:16px 18px; line-height:100% }
}

/* Larger screens ----------- */
@media only screen and (min-width: 1441px) {
	.block-fixed-menu ul.nav,
	.block-fixed-menu ul.navbar-nav,
	.block-fixed-menu ul.menu-page { margin-bottom:-8px !important}
	.block-fixed-menu ul.menu-page li a { font-size:20px; margin:0 18px 0 0; padding:16px 18px; line-height:100% }

}





/* ======================= BLOCK ECDL-KIT ====================================*/


.block-ecdl-kit { background:#fff; padding: 40px 0 }

.block-ecdl-kit .col-md-12 { text-align:center }
.block-ecdl-kit .col-md-12 h2 {
	font-family: "HelveticaNeueCondensedBold",Helvetica,Arial,sans-serif; letter-spacing: -1px;
	text-align:center; color:#2980b9; margin:0 auto 20px 0
}

.block-ecdl-kit .col-md-12 p { font-family: "HelveticaNeue",Helvetica,Arial,sans-serif;
	text-align:center; color:#000; margin:0 auto 0
}

.block-ecdl-kit .col-md-4, .block-ecdl-kit .col-md-3 { text-align: center }

.block-ecdl-kit .col-md-4 h3,
.block-ecdl-kit .col-md-3 h3 {
    font-family: HelveticaNeueMedium,Arial,sans-serif;  color: #2980b9;
    font-weight: bold; margin: 20px auto 12px auto;
    text-transform: uppercase;
}

.block-ecdl-kit .col-md-4 p,
.block-ecdl-kit .col-md-3 p { font-family: "HelveticaNeue",Helvetica,Arial,sans-serif;
	color: #616161; line-height: 132%; margin: 12px auto 0 }


.block-ecdl-kit  .col-md-1 { padding-top:0 }

.block-ecdl-kit  .col-md-1 span.arith-symbol,
.block-ecdl-kit  .col-md-1 span.arith-symbol-2 {
    color:rgb(242, 200, 18); font-weight: normal;
    margin: 0 0 0 0; text-align: left;
	font-family: HelveticaNeueBold,Arial,sans-serif
}


.block-ecdl-kit .row-conditions .col-md-12 p { color:#7f8c8d; margin: 0 auto; line-height:132% }
.block-ecdl-kit .row-conditions .col-md-12 p.deckhead  { color:#000; margin:0 auto; color:#000  }

/*--- Mobile portrait ---*/
@media all and (max-width: 320px) {
	.block-ecdl-kit { padding: 30px 0 }
	.block-ecdl-kit .col-md-12 h2 { font-size: 24px; margin-bottom:12px;letter-spacing:0 }
	.block-ecdl-kit .col-md-12 p.deckhead { font-size:15px;line-height:134%; margin-bottom:12px }
	.block-ecdl-kit .col-md-4 h3,
	.block-ecdl-kit .col-md-3 h3 { font-size:26px }
	.block-ecdl-kit .col-md-4 p,
	.block-ecdl-kit .col-md-3 p { margin-left:20px; margin-right:20px;margin-bottom:6px }
	.block-ecdl-kit .col-md-4 img.img-responsive,
	.block-ecdl-kit .col-md-3 img.img-responsive { width:72%; margin:0 auto }
	.block-ecdl-kit .row-conditions .col-md-12 p { margin-top:18px; margin-bottom:22px; font-size:14px; width:80% }
	.block-ecdl-kit .row-conditions .col-md-12 p.deckhead  { font-size:16px  }
	.block-ecdl-kit .col-md-1 { margin: 0 auto !important}
	.block-ecdl-kit .col-md-1 span.arith-symbol,
	.block-ecdl-kit .col-md-1 span.arith-symbol-2 { font-size: 60px; line-height:100%;padding-top:0;padding-bottom:0;margin: 0 0 0 42% }
	.block-ecdl-kit .col-md-1 span.arith-symbol-2 { margin-left:130px }
}

@media all and (min-width: 321px) and (max-width: 360px) {
	.block-ecdl-kit { padding: 30px 0 }
	.block-ecdl-kit .col-md-12 h2 { font-size: 26px; margin-bottom:12px;letter-spacing:0 }
	.block-ecdl-kit .col-md-12 p.deckhead { font-size:15px;line-height:134%; margin-bottom:12px }
	.block-ecdl-kit .col-md-4 h3,
	.block-ecdl-kit .col-md-3 h3 { font-size:26px }
	.block-ecdl-kit .col-md-4 p,
	.block-ecdl-kit .col-md-3 p { margin-left:20px; margin-right:20px;margin-bottom:6px }
	.block-ecdl-kit .col-md-4 img.img-responsive,
	.block-ecdl-kit .col-md-3 img.img-responsive { width:72%; margin:0 auto }
	.block-ecdl-kit .row-conditions .col-md-12 p { margin-top:38px; margin-bottom:22px; font-size:14px; width:80% }
	.block-ecdl-kit .row-conditions .col-md-12 p.deckhead  { font-size:16px  }
	.block-ecdl-kit  .col-md-1 { margin: 0 auto !important}
	.block-ecdl-kit  .col-md-1 span.arith-symbol,
	.block-ecdl-kit  .col-md-1 span.arith-symbol-2 {font-size: 60px; line-height:100%;padding-top:0;padding-bottom:0 }
	.block-ecdl-kit  .col-md-1 span.arith-symbol { margin: 0 0 0 42% }
	.block-ecdl-kit  .col-md-1 span.arith-symbol-2 { margin: 0 0 0 140px }
}

/*--- Mobile landscape ---*/
@media all and (min-width: 361px) and (max-width: 480px) {
	.block-ecdl-kit { padding: 30px 0 }
	.block-ecdl-kit .col-md-12 h2 { font-size: 32px; margin-bottom:12px;letter-spacing:0 }
	.block-ecdl-kit .col-md-12 p.deckhead { font-size:18px;line-height:134%; margin-bottom:12px;margin-left:20px; margin-right:20px }
	.block-ecdl-kit .col-md-4 h3,
	.block-ecdl-kit .col-md-3 h3 { font-size:28px }
	.block-ecdl-kit .col-md-4 p,
	.block-ecdl-kit .col-md-3 p { font-size:16px;margin-left:20px; margin-right:20px;margin-bottom:6px }
	.block-ecdl-kit .col-md-4 img.img-responsive,
	.block-ecdl-kit .col-md-3 img.img-responsive { width:72%; margin:0 auto }
	.block-ecdl-kit .row-conditions .col-md-12 p { margin-top:18px; margin-bottom:22px; font-size:14px; width:80% }
	.block-ecdl-kit .row-conditions .col-md-12 p.deckhead  { font-size:18px  }
	.block-ecdl-kit  .col-md-1 { margin: 0 auto !important}
	.block-ecdl-kit  .col-md-1 span.arith-symbol,
	.block-ecdl-kit  .col-md-1 span.arith-symbol-2 {font-size: 72px; line-height:100%;padding-top:0;padding-bottom:0 }
	.block-ecdl-kit  .col-md-1 span.arith-symbol { margin: 0 0 0 44% }
	.block-ecdl-kit  .col-md-1 span.arith-symbol-2 { margin: 0 0 0 44% }
	.block-ecdl-kit  .col-md-1 span.arith-symbol-2 { margin: 0 0 0 200px }

}

/*--- Small tablets (sm) --*/
@media all and (min-width: 481px) and (max-width: 767px) {
	.block-ecdl-kit { padding: 30px 0 40px 0}
	.block-ecdl-kit .col-md-12 h2 { font-size: 32px; margin-bottom:12px;letter-spacing:0 }
	.block-ecdl-kit .col-md-12 p.deckhead { font-size:18px;line-height:134%; margin-bottom:12px;margin-left:40px; margin-right:40px }
	.block-ecdl-kit .col-md-4 h3,
	.block-ecdl-kit .col-md-3 h3 { font-size:28px }
	.block-ecdl-kit .col-md-4 p,
	.block-ecdl-kit .col-md-3 p { font-size:16px;margin-left:20px; margin-right:20px;margin-bottom:6px }
	.block-ecdl-kit .col-md-4 img.img-responsive,
	.block-ecdl-kit .col-md-3 img.img-responsive { width:52%; margin:0 auto }
	.block-ecdl-kit .row-conditions .col-md-12 p { margin-top:18px; margin-bottom:22px; font-size:14px; width:80% }
	.block-ecdl-kit .row-conditions .col-md-12 p.deckhead  { font-size:20px  }
	.block-ecdl-kit  .col-md-1 { margin: 0 auto !important}
	.block-ecdl-kit  .col-md-1 span.arith-symbol,
	.block-ecdl-kit  .col-md-1 span.arith-symbol-2 {font-size: 90px; line-height:100%;padding-top:0;padding-bottom:0 }
	.block-ecdl-kit  .col-md-1 span.arith-symbol   { margin: 0 0 0 45% }
	.block-ecdl-kit  .col-md-1 span.arith-symbol-2 { margin: 0 0 0 300px }

}

@media all and (min-width: 768px) and (max-width: 991px) {
	.block-ecdl-kit { padding: 30px 0 }
	.block-ecdl-kit .col-md-12 h2 { font-size: 42px; margin-bottom:12px;letter-spacing:0 }
	.block-ecdl-kit .col-md-12 p.deckhead { font-size:18px;line-height:134%;
		margin-bottom:12px }
	.block-ecdl-kit .col-md-4 h3,
	.block-ecdl-kit .col-md-3 h3 { font-size:17px }
	.block-ecdl-kit .col-md-4 h3 { width:50% }
	.block-ecdl-kit .col-md-4 p,
	.block-ecdl-kit .col-md-3 p { font-size:13px;margin-bottom:6px; line-height:128% }
	.block-ecdl-kit .col-md-4 p { margin-left:20px; margin-right:20px }
	.block-ecdl-kit .col-md-4 img.img-responsive,
	.block-ecdl-kit .col-md-3 img.img-responsive {  margin:0 auto }
	.block-ecdl-kit .col-md-4 img.img-responsive { width:70% }
	.block-ecdl-kit .row-conditions .col-md-12 p { margin-top:16px; margin-bottom:22px; font-size:14px; width:90% }
	.block-ecdl-kit .row-conditions .col-md-12 p.deckhead  { font-size:16px  }

	.block-ecdl-kit  .col-md-1 span.arith-symbol,
	.block-ecdl-kit  .col-md-1 span.arith-symbol-2 {font-size: 100px; text-align: left }
	.block-ecdl-kit  .col-md-1 span.arith-symbol  { margin: 100px 0 0 0 }
	.block-ecdl-kit  .col-md-1 span.arith-symbol-2 { margin: 100px 40px 0 -40px }
}

/* Less small desktops and laptops (lg) ----------- */
@media only screen and (min-width : 992px) and (max-width: 1024px) {
	.block-ecdl-kit { padding: 30px 0 }
	.block-ecdl-kit .col-md-12 h2 { font-size: 54px; margin-bottom:12px;letter-spacing:0 }
	.block-ecdl-kit .col-md-12 p.deckhead { font-size:20px;line-height:134%;
		margin-bottom:22px }
	.block-ecdl-kit .col-md-4 h3,
	.block-ecdl-kit .col-md-3 h3 { font-size:22px }
	.block-ecdl-kit .col-md-3 h3.narrow,
	.block-ecdl-kit .col-md-4 h3.narrow { width: 50% }

	.block-ecdl-kit .col-md-4 p,
	.block-ecdl-kit .col-md-3 p { font-size:15px;margin-bottom:6px }
	.block-ecdl-kit .col-md-4 p { margin-left:20px; margin-right:20px }
	.block-ecdl-kit .col-md-4 img.img-responsive,
	.block-ecdl-kit .col-md-3 img.img-responsive {  margin:0 auto }
	.block-ecdl-kit .col-md-4 img.img-responsive { width:72% }
	.block-ecdl-kit .row-conditions .col-md-12 p { margin-top:22px; margin-bottom:22px; font-size:15px; width:80% }
	.block-ecdl-kit .row-conditions .col-md-12 p.deckhead  { font-size:20px  }

	.block-ecdl-kit  .col-md-1 span.arith-symbol,
	.block-ecdl-kit  .col-md-1 span.arith-symbol-2 {font-size: 100px; text-align: left }
	.block-ecdl-kit  .col-md-1 span.arith-symbol  { margin: 0 0 0 0 }
	.block-ecdl-kit  .col-md-1 span.arith-symbol-2 { margin: 0 40px 0 -40px }
}

@media only screen and (min-width : 1025px) and (max-width: 1223px) {
	.block-ecdl-kit { padding: 30px 0 }
	.block-ecdl-kit .col-md-12 h2 { font-size: 56px; margin-bottom:12px;letter-spacing:0 }
	.block-ecdl-kit .col-md-12 p.deckhead { font-size:20px;line-height:134%;
		margin-bottom:22px }
	.block-ecdl-kit .col-md-4 h3,
	.block-ecdl-kit .col-md-3 h3 { font-size:20px }
	.block-ecdl-kit .col-md-3 h3.narrow,
	.block-ecdl-kit .col-md-4 h3.narrow { width: 50% }

	.block-ecdl-kit .col-md-4 p,
	.block-ecdl-kit .col-md-3 p { font-size:15px;margin-bottom:6px }
	.block-ecdl-kit .col-md-4 p { margin-left:32px; margin-right:32px }
	.block-ecdl-kit .col-md-4 img.img-responsive,
	.block-ecdl-kit .col-md-3 img.img-responsive {  margin:0 auto }
	.block-ecdl-kit .col-md-4 img.img-responsive { width:72% }
	.block-ecdl-kit .row-conditions .col-md-12 p { margin-top:18px; margin-bottom:22px; font-size:15px; width:80% }
	.block-ecdl-kit .row-conditions .col-md-12 p.deckhead  { font-size:24px  }

	.block-ecdl-kit .col-md-1 span.arith-symbol,
	.block-ecdl-kit .col-md-1 span.arith-symbol-2 {font-size: 110px; text-align: left }
	.block-ecdl-kit .col-md-1 span.arith-symbol  { margin: 0 0 0 0 }
	.block-ecdl-kit .col-md-1 span.arith-symbol-2 { margin: 0 80px 0 -40px }
}

@media only screen and (min-width: 1224px) and (max-width: 1336px) {
	.block-ecdl-kit { padding: 30px 0 }
	.block-ecdl-kit .col-md-12 h2 { font-size: 64px; margin-bottom:12px;letter-spacing:0 }
	.block-ecdl-kit .col-md-12 p.deckhead { font-size:24px;line-height:134%;
		margin-bottom:22px }
	.block-ecdl-kit .col-md-4 h3,
	.block-ecdl-kit .col-md-3 h3 { font-size:22px }
	.block-ecdl-kit .col-md-4 p,
	.block-ecdl-kit .col-md-3 p { font-size:16px;margin-bottom:6px }
	.block-ecdl-kit .col-md-4 p { margin-left:42px; margin-right:42px }
	.block-ecdl-kit .col-md-4 img.img-responsive,
	.block-ecdl-kit .col-md-3 img.img-responsive {  margin:0 auto }
	.block-ecdl-kit .col-md-4 img.img-responsive { width:72%}
	.block-ecdl-kit .row-conditions .col-md-12 p { margin-top:18px; margin-bottom:22px; font-size:15px; width:80% }
	.block-ecdl-kit .row-conditions .col-md-12 p.deckhead  { font-size:24px  }

	.block-ecdl-kit  .col-md-1 span.arith-symbol,
	.block-ecdl-kit  .col-md-1 span.arith-symbol-2 {font-size: 140px; text-align: left }
	.block-ecdl-kit  .col-md-1 span.arith-symbol  { margin: 0 0 0 0 }
	.block-ecdl-kit  .col-md-1 span.arith-symbol-2 { margin: 0 40px 0 -40px }
}

/* Popular desktops and laptops ----------- */
@media only screen and (min-width: 1337px) and (max-width: 1440px) {
	.block-ecdl-kit { padding: 30px 0 }
	.block-ecdl-kit .col-md-12 h2 { font-size: 64px; margin-bottom:12px;letter-spacing:0 }
	.block-ecdl-kit .col-md-12 p.deckhead { font-size:24px;line-height:134%;
		margin-bottom:22px }
	.block-ecdl-kit .col-md-4 h3,
	.block-ecdl-kit .col-md-3 h3 { font-size:24px }
	.block-ecdl-kit .col-md-4 p,
	.block-ecdl-kit .col-md-3 p { font-size:16px;margin-bottom:6px }
	.block-ecdl-kit .col-md-4 p { margin-left:42px; margin-right:42px }
	.block-ecdl-kit .col-md-4 img.img-responsive,
	.block-ecdl-kit .col-md-3 img.img-responsive {  margin:0 auto }
	.block-ecdl-kit .col-md-4 img.img-responsive { width:72%}
	.block-ecdl-kit .row-conditions .col-md-12 p { margin-top:18px; margin-bottom:22px; font-size:15px; width:80% }
	.block-ecdl-kit .row-conditions .col-md-12 p.deckhead  { font-size:24px  }

	.block-ecdl-kit  .col-md-1 span.arith-symbol,
	.block-ecdl-kit  .col-md-1 span.arith-symbol-2 {font-size: 140px; text-align: left }
	.block-ecdl-kit  .col-md-1 span.arith-symbol  { margin: 0 0 0 0 }
	.block-ecdl-kit  .col-md-1 span.arith-symbol-2 { margin: 0 40px 0 -40px }
}

/* Larger screens ----------- */
@media only screen and (min-width: 1441px) {
	.block-ecdl-kit { padding: 30px 0 }
	.block-ecdl-kit .col-md-12 h2 { font-size: 64px; margin-bottom:12px;letter-spacing:0 }
	.block-ecdl-kit .col-md-12 p.deckhead { font-size:24px;line-height:134%;
		margin-bottom:22px }
	.block-ecdl-kit .col-md-4 h3,
	.block-ecdl-kit .col-md-3 h3 { font-size:24px }
	.block-ecdl-kit .col-md-4 p,
	.block-ecdl-kit .col-md-3 p { font-size:16px;margin-bottom:6px }
	.block-ecdl-kit .col-md-4 p { margin-left:42px; margin-right:42px }
	.block-ecdl-kit .col-md-4 img.img-responsive,
	.block-ecdl-kit .col-md-3 img.img-responsive {  margin:0 auto }
	.block-ecdl-kit .col-md-4 img.img-responsive { width:72%}
	.block-ecdl-kit .row-conditions .col-md-12 p { margin-top:18px; margin-bottom:22px; font-size:15px; width:80% }
	.block-ecdl-kit .row-conditions .col-md-12 p.deckhead  { font-size:24px  }

	.block-ecdl-kit  .col-md-1 span.arith-symbol,
	.block-ecdl-kit  .col-md-1 span.arith-symbol-2 {font-size: 140px; text-align: left }
	.block-ecdl-kit  .col-md-1 span.arith-symbol  { margin: 0 0 0 0 }
	.block-ecdl-kit  .col-md-1 span.arith-symbol-2 { margin: 0 40px 0 -40px }
}





/* ======================== MS OFFICE VERSION  ================================= */

.block-buy-options { padding: 12px 0 80px 0; background:  rgb(253, 247, 219) }

.block-buy-options .col-md-12 { text-align: center }
.block-buy-options .col-md-12 h2 { font-size:32px; margin:0 auto 12px auto }
.block-buy-options .col-md-12 p.deckhead { font-size:22px;width:80%; margin: 0 auto }

.block-buy-options .row-office .col-md-2 { text-align: center }
.block-buy-options .row-office .col-md-2 p { margin:0 auto }
.block-buy-options .row-office .col-md-2 p { font-size:32px;padding-top:32px }

.block-buy-options .row-office .col-md-5 { text-align:center }

.block-buy-options .row-office .col-md-5 img.img-responsive { margin-bottom:20px }
.block-buy-options .row-office .col-md-5 .radio input[type="radio"],
.block-buy-options .row-office .col-md-5 .radio-inline input[type="radio"] { margin-top: 8px }
.block-buy-options .row-office .col-md-5 label { font-size:22px;margin:0 0 40px 0; padding:0 }


/*--- Mobile portrait ---*/
@media all and (max-width: 320px) {
	.block-buy-options { padding: 22px 0 30px 0 }
	.block-buy-options .col-md-12 h2 { font-size: 28px; margin-bottom:20px }
	.block-buy-options .col-md-12 p.deckhead { font-size:16px;line-height:128%;margin-bottom:16px }
	.block-buy-options .row-office .col-md-2 p { font-size:16px;padding-top:0;margin-bottom:20px;margin-top:-20px }
	.block-buy-options .row-office .col-md-5 img.img-responsive {	text-align:center; margin: 0 auto 6px auto }
	.block-buy-options .row-office .col-md-5 label { font-size:15px;margin:0 auto 40px auto; padding:0 }
}

@media all and (min-width: 321px) and (max-width: 360px) {
	.block-buy-options { padding: 22px 0 30px 0 }
	.block-buy-options .col-md-12 h2 { font-size: 30px; margin-bottom:20px }
	.block-buy-options .col-md-12 p.deckhead { font-size:16px;line-height:128%;margin-bottom:16px }
	.block-buy-options .row-office .col-md-2 p { font-size:22px;padding-top:0;margin-bottom:20px;margin-top:-20px }
	.block-buy-options .row-office .col-md-5 img.img-responsive { width:84%; text-align:center; margin: 0 auto 6px auto }
	.block-buy-options .row-office .col-md-5 label { font-size:16px;margin:0 auto 40px auto; padding:0 }
}

/*--- Mobile landscape ---*/
@media all and (min-width: 361px) and (max-width: 480px) {
	.block-buy-options { padding: 22px 0 30px 0 }
	.block-buy-options .col-md-12 h2 { font-size: 32px; margin-bottom:20px }
	.block-buy-options .col-md-12 p.deckhead { font-size:17px;line-height:128%;margin-bottom:16px }
	.block-buy-options .row-office .col-md-2 p { font-size:22px;padding-top:0;margin-bottom:20px;margin-top:-20px }
	.block-buy-options .row-office .col-md-5 img.img-responsive { width:72%; text-align:center; margin: 0 auto 8px auto}
	.block-buy-options .row-office .col-md-5 label { font-size:18px;margin:0 auto 40px auto; padding:0 }
}


/* small tablets  */
@media only screen and (min-width: 481px) and (max-width: 767px) {
	.block-buy-options { padding: 32px 0 30px 0 }
	.block-buy-options .col-md-12 h2 { font-size: 36px; margin-bottom:20px }
	.block-buy-options .col-md-12 p.deckhead { font-size:18px;line-height:128%;margin-bottom:16px;width:100% }
	.block-buy-options .row-office .col-md-2 p { font-size:22px;padding-top:0;margin-bottom:20px;margin-top:-20px }
	.block-buy-options .row-office .col-md-5 img.img-responsive { width:64%; text-align:center; margin: 0 auto 10px auto }
	.block-buy-options .row-office .col-md-5 label { font-size:18px;margin:0 auto 40px auto; padding:0 }
}

/* small three columns   */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.block-buy-options { padding: 36px 0 40px 0 }
	.block-buy-options .col-md-12 h2 { font-size: 38px; margin-bottom:20px }
	.block-buy-options .col-md-12 p.deckhead { font-size:20px;line-height:128%;margin-bottom:26px;width:100% }
	.block-buy-options .row-office .col-md-2 p { font-size:24px;padding-top:32px }
	.block-buy-options .row-office .col-md-5 img.img-responsive {  width:90%;  margin: 0 auto 12px auto}
	.block-buy-options .row-office .col-md-5 label { font-size:18px;margin:0 auto 40px auto; padding:0 }
}

/* less small three columns  desktops and laptops  */
@media only screen and (min-width: 992px) and (max-width: 1024px) {
	.block-buy-options { padding: 40px 0 40px 0 }
	.block-buy-options .col-md-12 h2 { font-size: 44px; margin-bottom:20px }
	.block-buy-options .col-md-12 p.deckhead { font-size:22px;line-height:128%;margin-bottom:32px;width:100% }
	.block-buy-options .row-office .col-md-2 p { font-size:32px;padding-top:32px }
	.block-buy-options .row-office .col-md-5 img.img-responsive {  width:90%;  margin: 0 auto 22px auto }
	.block-buy-options .row-office .col-md-5 label { font-size:20px;margin:0 auto 40px auto; padding:0 }
}


@media only screen and (min-width: 1025px) and (max-width: 1199px) {
	.block-buy-options { padding: 42px 0 40px 0 }
	.block-buy-options .col-md-12 h2 { font-size: 44px; margin-bottom:20px }
	.block-buy-options .col-md-12 p.deckhead { font-size:20px;line-height:128%;margin-bottom:32px;width:100% }
	.block-buy-options .row-office .col-md-2 p { font-size:32px;padding-top:32px }
	.block-buy-options .row-office .col-md-5 img.img-responsive {  width:90%;  margin: 0 auto 12px auto }
	.block-buy-options .row-office .col-md-5 .radio input[type="radio"],
	.block-buy-options .row-office .col-md-5 .radio-inline input[type="radio"] { margin-top: 10px }
	.block-buy-options .row-office .col-md-5 label { font-size:22px;margin:0 auto 40px auto; padding:0 }
}


@media only screen and (min-width: 1200px) and (max-width: 1336px) {
	.block-buy-options { padding: 42px 0 30px 0 }
	.block-buy-options .col-md-12 h2 { font-size: 48px; margin-bottom:20px }
	.block-buy-options .col-md-12 p.deckhead { font-size:22px;width:80%; line-height:128%;margin-bottom:42px }
	.block-buy-options .row-office .col-md-2 p { font-size:32px;padding-top:32px }
	.block-buy-options .row-office .col-md-5 img.img-responsive {  width:90%;  margin: 0 auto 12px auto }
	.block-buy-options .row-office .col-md-5 .radio input[type="radio"],
	.block-buy-options .row-office .col-md-5 .radio-inline input[type="radio"] { margin-top: 10px }
	.block-buy-options .row-office .col-md-5 label { font-size:22px;margin:0 auto 40px auto; padding:0 }
}


@media only screen and (min-width: 1337px) and (max-width: 1440px) {
	.block-buy-options { padding: 52px 0 30px 0 }
	.block-buy-options .col-md-12 h2 { font-size: 48px; margin-bottom:20px }
	.block-buy-options .col-md-12 p.deckhead { font-size:22px;width:80%; line-height:128%;margin-bottom:42px }
	.block-buy-options .row-office .col-md-2 p { font-size:32px;padding-top:32px }
	.block-buy-options .row-office .col-md-5 img.img-responsive {  width:90%;  margin: 0 auto 12px auto }
	.block-buy-options .row-office .col-md-5 .radio input[type="radio"],
	.block-buy-options .row-office .col-md-5 .radio-inline input[type="radio"] { margin-top: 10px }
	.block-buy-options .row-office .col-md-5 label { font-size:22px;margin:0 0 40px 0; padding:0 }

}

/* Big screens  ----------- */
@media only screen and (min-width: 1441px) {
	.block-buy-options { padding: 0px 0 30px 0 }
	.block-buy-options .col-md-12 h2 { font-size: 54px; margin-bottom:20px }
	.block-buy-options .col-md-12 p.deckhead { font-size:22px;width:80%; line-height:128%;margin-bottom:42px }
	.block-buy-options .row-office .col-md-2 p { font-size:32px;padding-top:32px }
	.block-buy-options .row-office .col-md-5 .radio input[type="radio"],
	.block-buy-options .row-office .col-md-5 .radio-inline input[type="radio"] { margin-top: 10px }
	.block-buy-options .row-office .col-md-5 img.img-responsive {  width:90%;  margin: 0 auto 12px auto }
	.block-buy-options .row-office .col-md-5 label { font-size:22px;margin:0 auto 40px auto; padding:0 }
}


.col-md-4 .plan p.buy-option-module {

	background-color: white;
	margin: 0px;

}


/* ================== PRICING TABLES =============================== */

.pricing-tables { padding: 20px }
.pricing-tables h1 { font-size: 48px }
.pricing-tables .plan.first {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px
}

.pricing-tables .plan.last { border-bottom-right-radius: 4px; border-top-right-radius: 4px }
.pricing-tables .plan.recommended { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px }

.pricing-tables .plan.recommended .head {
      margin-bottom: 20px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px
}

.pricing-tables.attached .col-sm-4,
.pricing-tables.attached .col-md-4,
.pricing-tables.attached .col-sm-3,
.pricing-tables.attached .col-md-3 { padding-left: 0; padding-right: 0}
.pricing-tables.attached .plan { border-radius: 0 }
.pricing-tables.attached .plan .head { border-radius: 0 }

.pricing-tables.attached .plan.recommended { border-radius: 4px }
.pricing-tables.attached .plan.recommended .head { border-top-left-radius: 4px; border-top-right-radius: 4px }
.pricing-tables.attached .plan.last { border-bottom-right-radius: 4px }
.pricing-tables.attached .plan.last .head { border-top-right-radius: 4px }
.pricing-tables.attached .plan.first { border-bottom-left-radius: 4px }
.pricing-tables.attached .plan.first .head { border-top-left-radius: 4px }

.plan {
	box-shadow: 0 2px 2px rgba(10, 10, 10, 0.06);
	min-height: 100px; background: #fff; border-radius: 4px; margin: 20px 0;
	padding-bottom: 25px; text-align: center;border: solid 1px #2980b9;
}

.plan .head {
	border-top-left-radius: 4px; border-top-right-radius: 4px;
	padding: 12px 16px; background:#2980b9; color: #fff
}

.plan .head h1,
.plan .head h2,
.plan .head h3 { padding: 0; margin: 0; font-weight: 100 }
.plan .price { border-top: 1px solid #eee; margin: 0 auto 20px auto; width: 100% }
.plan .price h3 { font-size: 64px; vertical-align: top; line-height: 1; margin-top:0; background:#ecf0f1 }

.plan .head h2 { font-family: "HelveticaNeueCondensedBold",Arial,sans-serif }

.col-md-4 .plan p { margin:0 auto 8px auto;color:#000;font-weight:bold; background: rgb(227, 245, 253);padding: 10px 0  }

.plan .price h3 { font-weight:normal !important; font-family: "HelveticaNeueLight",Helvetica,Arial,sans-serif; padding:10px 0 }
.plan .price h3 span.symbol {
	font-size: 38px; vertical-align: top; position: relative;
	margin: 6px 0 0 -7px; display: inline-block; font-weight:normal
}

.plan .price h3 span.option-detail { display:block; font-size:14px; line-height:100%; color:#7f8c8d}

.plan .btn { margin-top:0; padding: 10px 30px; text-transform: uppercase; font-weight: 500; border-radius:0 }

.plan ul { list-style-type: none; padding: 0 20px 0px 20px; margin-top: 2px }

.plan ul li { line-height: 140%; margin-bottom: 15px; font-size: 14px; font-weight: 400; color: #34495e }

.plan ul li a { text-decoration: underline; color: #e6e9ed }
.plan ul li:last-child { border-bottom: none }
.plan ul strong { font-weight: 700 }

.plan ul.item-list { min-height:284px }

.plan.recommended {
	margin-top: 6px; box-shadow: 0 0 22px rgba(10, 10, 10, 0.42);
	position: relative; z-index: 99; border-radius: 4px
}

.plan.recommended .head { border-top-left-radius: 4px; border-top-right-radius: 4px; background: #171717 }
.plan.recommended .btn { margin-bottom: 10px }

.block-vertical .col-md-4 .plan ul li i { color: #5cb85c }


.plan ul li .toolkit-contents {
	color:#7f8c8d;font-size:14px; display:inline-block;margin-left:20px; line-height:132%;
}






.pricing-tables .col-md-4 .plan .head h2 { font-family: "HelveticaNeueCondensedBold",Arial,sans-serif }

.block-buy-options .pricing-tables .col-md-4 .plan ul.fa-ul li { font-family: "HelveticaNeue",Arial,sans-serif }



/*--- Mobile portrait ---*/
@media all and (max-width: 320px) {
	.block-buy-options .pricing-tables .row .col-md-4 .plan .head h2 { font-size: 22px }
	.pricing-tables .col-md-4 .plan .price h3 span.symbol { font-size: 18px; margin: 5px 0 0 -12px; }
	.pricing-tables .col-md-4 .plan .price h3 { font-size: 38px }
	.block-buy-options .pricing-tables .row .col-md-4 p { font-size: 14px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list { margin-left:0;margin-top:12px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list.fa-ul { margin-left:20px;margin-top:12px }
}

@media all and (min-width: 321px) and (max-width: 360px) {
	.block-buy-options .pricing-tables .row .col-md-4 .plan .head h2 { font-size: 22px }
	.pricing-tables .col-md-4 .plan .price h3 span.symbol { font-size: 20px; margin: 5px 0 0 -12px; }
	.pricing-tables .col-md-4 .plan .price h3 { font-size: 42px }
	.block-buy-options .pricing-tables .row .col-md-4 p { font-size: 14px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list { margin-left:0 }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list.fa-ul { margin-left:20px;margin-top:12px }
}

/*--- Mobile landscape ---*/
@media all and (min-width: 361px) and (max-width: 480px) {
	.block-buy-options .pricing-tables .row .col-md-4 .plan .head h2 { font-size: 24px }
	.pricing-tables .col-md-4 .plan .price h3 span.symbol { font-size: 24px; margin: 5px 0 0 -12px; }
	.pricing-tables .col-md-4 .plan .price h3 { font-size: 48px }

	.block-buy-options .pricing-tables .row .col-md-4 p { font-size: 15px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list { margin-top:22px; margin-left:20px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list.fa-ul { margin-left:40px;margin-top:20px }
}

/*--- Small tablets (sm) --*/
@media all and (min-width: 481px) and (max-width: 767px) {
	.block-buy-options .pricing-tables .row .col-md-4 .plan .head h2 { font-size: 28px }
	.pricing-tables .col-md-4 .plan .price h3 span.symbol { font-size: 24px; margin: 5px 0 0 -12px; }
	.pricing-tables .col-md-4 .plan .price h3 { font-size: 48px }

	.block-buy-options .pricing-tables .row .col-md-4 p { font-size: 18px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list { margin-top:22px; margin-left:60px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list.fa-ul { margin-left:20px;margin-top:20px }
}

@media all and (min-width: 768px) and (max-width: 991px) {
	.pricing-tables .col-md-4 .plan { min-height:710px }
	.pricing-tables .col-md-4 .plan .head h2 { font-size:18px }
	.pricing-tables .col-md-4 .plan .price h3 span.symbol { font-size: 20px }
	.pricing-tables .col-md-4 .plan .price h3 { font-size: 38px }
	.pricing-tables .col-md-4 .plan ul li .toolkit-contents { font-size: 13px }
	.block-buy-options .pricing-tables .row .col-md-4 p { min-height:58px; font-size: 14px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list { margin-left:0;margin-top:20px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list.fa-ul { margin-left:20px;margin-top:20px }
}

/* Less small desktops and laptops (lg) ----------- */
@media only screen and (min-width : 992px) and (max-width: 1024px) {
	.pricing-tables .col-md-4 .plan { min-height:610px }
	.pricing-tables .col-md-4 .plan .head h2 { font-size:20px }
	.pricing-tables .col-md-4 .plan .price h3 span.symbol { font-size: 28px; margin: 5px 0 0 -12px; }
	.pricing-tables .col-md-4 .plan .price h3 { font-size: 48px }
	.pricing-tables .col-md-4 .plan ul li .toolkit-contents { font-size: 13px;margin-bottom:8px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list { margin-top:22px; margin-left: 12px;margin-bottom:22px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list.fa-ul { margin-left:20px;margin-top:22px }
}

@media only screen and (min-width : 1025px) and (max-width: 1223px) {
	.pricing-tables .col-md-4 .plan { min-height:690px }
	.pricing-tables .col-md-4 .plan .head h2 { font-size: 24px }
	.pricing-tables .col-md-4 .plan .price h3 span.symbol { font-size: 26px; margin: 5px 0 0 -12px; }
	.pricing-tables .col-md-4 .plan .price h3 { font-size: 48px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list { margin-top:22px; margin-left: 12px;margin-bottom:22px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list.fa-ul { margin-left:28px;margin-top:22px }
	.pricing-tables .col-md-4 .plan ul li .toolkit-contents { font-size: 13px;margin-bottom:8px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list { margin-top:22px; margin-left: 12px;margin-bottom:22px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list.fa-ul { margin-left:28px;margin-top:22px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul li { font-size: 17px; margin-bottom:12px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.fa-ul li { font-size: 16px; margin-bottom: 10px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul li .toolkit-contents { font-size: 14px; line-height: 128%; margin-left: 20px;margin-bottom:6px }
}

@media only screen and (min-width: 1224px) and (max-width: 1336px) {
	.pricing-tables .col-md-4 .plan { min-height:660px }
	.pricing-tables .col-md-4 .plan .head h2 { font-size: 30px }
	.pricing-tables .col-md-4 .plan .price h3 span.symbol { font-size: 26px; margin: 5px 0 0 -12px; }
	.pricing-tables .col-md-4 .plan .price h3 { font-size: 48px }

	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list { margin-top:22px; margin-left: 12px;margin-bottom:22px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list.fa-ul { margin-left:28px;margin-top:22px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul li { font-size: 17px; margin-bottom:12px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.fa-ul li { font-size: 16px; margin-bottom: 9px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul li .toolkit-contents { font-size: 15px; line-height: 132%; margin-left: 20px }
}

/* Popular desktops and laptops ----------- */
@media only screen and (max-width: 1440px) and (min-width: 1337px) {
	.pricing-tables .col-md-4 .plan { min-height:660px }
	.pricing-tables .col-md-4 .plan .head h2 { font-size: 30px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list { margin-top:22px; margin-left: 12px;margin-bottom:22px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list.fa-ul { margin-left:28px;margin-top:22px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul li { font-size: 17px; margin-bottom:12px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.fa-ul li { font-size: 16px; margin-bottom: 9px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul li .toolkit-contents { font-size: 15px; line-height: 132%; margin-left: 20px }
}

/* Larger screens ----------- */
@media only screen and (min-width: 1441px) {
	.pricing-tables .col-md-4 .plan { min-height:660px }
	.pricing-tables .col-md-4 .plan .head h2 { font-size: 30px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list { margin-top:22px; margin-left: 12px;margin-bottom:22px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list.fa-ul { margin-left:28px;margin-top:22px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list { margin-top:22px; margin-left: 12px;margin-bottom:22px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.item-list.fa-ul { margin-left:28px;margin-top:22px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul li { font-size: 17px; margin-bottom:12px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul.fa-ul li { font-size: 16px; margin-bottom: 9px }
	.block-buy-options .pricing-tables .col-md-4 .plan ul li .toolkit-contents { font-size: 15px; line-height: 132%; margin-left: 20px }
}




/* FOOTER ALL ================================================================================ */

#footer-desktop, #footer_phone { width:100%; }
a.lower-right:link, a.lower-right:visited { text-decoration: underline; color:#fff }
a.lower-right:active, a.lower-right:hover { text-decoration: none;background:#005581 }
.trans-no-border { background:transparent !important;border-width:0 }
.col-orange { background:#D35400;color:#fff;height:80px;text-align:right }




/* FOOTER DESKTOP ================================================================================ */

#footer-desktop {
	height:258px;width:100%;margin:10px 0 -180px 0;
	background:#2980b9;color:#fff;padding:20px 0 0 0;
	background: url('../img/bg-desktop-footer.jpg') no-repeat center bottom;
	height:300px;
}

#footer-desktop .well { border-radius:0;background: #2980b9; border-color:#2980b9; opacity: 0.9; padding: 12px 0 12px 20px; min-height: 118px }

#footer-desktop .col-one p i, #footer-desktop .col-two p i { color: #fff }
#footer-desktop .col-one p { font-size:16px;margin-bottom:0;line-height:140%;padding-left:0; }
#footer-desktop .col-two p {  font-size:16px;margin-bottom:0;line-height:180% }
#footer-desktop .col-three p { font-size:16px; line-height:138%;margin-bottom:10px; }
#footer-desktop .col-two p a:link, #footer-desktop .col-two p a:visited,
#footer-desktop .col-three p a:link, #footer-desktop .col-three p a:visited {
	color:#fff;text-decoration:none;
}
#footer-desktop .col-two p a:active, #footer-desktop .col-two p a:hover,
#footer-desktop .col-three p a:active, #footer-desktop .col-three p a:hover {
	color:#fff;text-decoration:underline;
}

/* phone portrait */
@media all and (max-width: 320px) {
	#footer_phone { display:block }
	#footer-desktop { display:none }
	#footer_phone { margin:20px auto 0 auto;padding: 12px 0 10px 0; background:#005581;color:#fff; }
	#footer_phone .col-xs-6 p {
		color:#fff;font-size:12px;text-align:left;
		margin-bottom:4px; padding: 0 10px;line-height:124% }
    #footer_phone p a:link, #footer_phone p a:visited  { color:#fff;text-decoration:underline }
    #footer_phone p a:hover, #footer_phone p a:active  { color:#fff;text-decoration:none }
	.col-orange { height: 80px;text-align:center }
}

/* phone landscape */
@media all and (max-width: 480px)  and (min-width: 321px) {
	#footer_phone { display:block }
	#footer-desktop { display:none }
	#footer_phone { margin:20px auto 0 auto;padding: 12px 0 10px 0; background:#005581;color:#fff; }
	#footer_phone .col-xs-6 p {
		color:#fff;font-size:12px;text-align:left;
		margin-bottom:4px; padding: 0 10px;line-height:124% }
    #footer_phone p a:link, #footer_phone p a:visited  { color:#fff;text-decoration:underline }
    #footer_phone p a:hover, #footer_phone p a:active  { color:#fff;text-decoration:none }
	#footer-desktop .col-one p { font-size: 16px; line-height: 140% }
}

/* tablet portrait */
@media all and (max-width: 766px) and (min-width: 481px) {
	#footer_phone { display:block }
	#footer-desktop { display:none }
	#footer_phone { margin:20px auto 0 auto;padding: 12px 0 10px 0; background:#005581;color:#fff; }
	#footer_phone .col-xs-6 p {
		color:#fff;font-size:14px;text-align:left;
		margin-bottom:4px; padding: 0 10px;line-height:124% }
	#footer_phone p a:link, #footer_phone p a:visited  { color:#fff;text-decoration:underline }
	#footer_phone p a:hover, #footer_phone p a:active  { color:#fff;text-decoration:none }
	#footer-desktop .col-one p { font-size: 16px; line-height: 140% }
}

/* tablet landscape */
@media all and (max-width: 979px) and (min-width: 767px) {
	#footer_phone { display:none }
	#footer-desktop { display:block }
	.navbar-fixed-bottom { display:none}
	#footer-desktop { height:200px;margin:30px 0 -70px 0; }
	#footer-desktop .well { padding-left: 12px; min-height: 124px }
	#footer-desktop .col-one p, #footer-desktop .col-two p, #footer-desktop .col-three p { font-size: 14px; line-height: 140% }
}

/*small desktop */
@media all and (max-width: 991px) and (min-width: 980px) {
	#footer_phone { display:none }
	#footer-desktop { display:block }
	#footer-desktop { height:240px;margin:30px 0 -70px 0; }
	#footer-desktop .col-one p, #footer-desktop .col-two p  { font-size: 14px; line-height: 140% }
	#footer-desktop .col-three p { font-size: 14px }
}

/* medium desktop */
@media all and (max-width: 1200px) and (min-width: 992px) {
	#footer_phone { display:none }
	#footer-desktop { display:block }
	#footer-desktop { height:240px;margin:30px 0 -70px 0; }
	#footer-desktop .col-one p, #footer-desktop .col-two p, #footer-desktop .col-three p {font-size: 14px; line-height: 140% }
}

/* medium desktop */
@media all and (max-width: 1200px) and (min-width: 992px) {
	#footer-desktop { height:240px;margin:30px 0 -100px 0; }
	#footer-desktop .col-one p, #footer-desktop .col-two p, #footer-desktop .col-three p {font-size: 16px; line-height: 140% }
}

/* big desktop */
@media all and (min-width: 1201px) {
	#footer_phone { display:none }
	#footer-desktop { display:block; padding-top:90px }
	#footer-desktop .col-one p, #footer-desktop .col-two p, #footer-desktop .col-three p {font-size: 16px; line-height: 140% }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	#footer_phone { display:none }
	#footer-desktop { display:block }
	#footer-desktop { background: url('../img/bg-desktop-footer.png') no-repeat center bottom }

	#footer-desktop { height:240px;margin:30px 0 -70px 0; }
	#footer-desktop .col-one p, #footer-desktop .col-two p {font-size: 16px; line-height: 140% }
	#footer-desktop .col-three p { font-size: 14px }
}


